{% extends 'base/base.html' %}

{% block content %}
<div class="container container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
   <div class="row">
      <div class="col-3">
         <span class="text-primary">{{ title_section }}</span>
      </div>
      <div class="col-4 text-center">
         {% if action %}
         <div class="{% if action == 'delete' or action == 'no_delete'%} bg-danger {% else %} bg-kosmo-green {% endif %} bg-gradient p-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
               <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
               <path d="M9 12l2 2l4 -4" />
            </svg>
            {{ message }}
         </div>
         {% endif %}
      </div>
      <div class="col-5 d-flex align-items-center justify-content-end gap-3">
         {% if not action %}
         <a href="{% url 'partner_detail' partner.id %}?action=delete" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
               <path d="M4 7l16 0" />
               <path d="M10 11l0 6" />
               <path d="M14 11l0 6" />
               <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
               <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
            </svg>
            Eliminar
         </a>
         {% endif %}
         <a href="{% url 'partner_update' partner.id %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
               <path d="M16 5l3 3" />
            </svg>
            Editar
         </a>
         <a href="{% url 'partner_create' %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
               <path d="M12 5l0 14" />
               <path d="M5 12l14 0" />
            </svg>
            Agregar
         </a>
         <a href="{% url 'partner_list' %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M5 12l14 0" />
               <path d="M5 12l6 6" />
               <path d="M5 12l6 -6" />
            </svg>
            Volver
         </a>
      </div>
   </div>
</div>
<div class="container mt-2">
   <div class="row">
      <!-- Tarjeta para la Información del Socio de Negocio -->
      {% if partner.type_partner == 'CLIENTE' %}
      <div class="col-md-8 mb-3">
         {% else %}
         <div class="col-md-12 mb-3">
         {% endif %}
         <div class="card">
            <div class="card-header p-1 bg-kosmo-primary bg-gradient bg-opacity-75 text-white">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
                  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                  <path d="M12 9h.01" />
                  <path d="M11 12h1v4h1" />
               </svg>
               Información del Socio de Negocio
            </div>
            <div class="card-body">
               <div class="row">
                  <div class="col-6">
                     <section>
                        <span class="text-muted">RUC:</span>
                        <span>{{ partner.business_tax_id }}</span>
                     </section>
                     <section>
                        <span class="text-muted">Nombre:</span>
                        <span>{{ partner.name }}</span>
                     </section>
                     <section>
                        <span class="text-muted">Crédito:</span>
                        <span>{{ partner.credit_term }} días</span>
                     </section>
                  </div>
                  <div class="col-6">
                     <section>
                        <span class="text-muted">Correo Electrónico:</span>
                        <span>{{ partner.email }}</span>
                     </section>
                     <section>
                        <span class="text-muted">Teléfono:</span>
                        <span>{{ partner.phone }}</span>
                     </section>
                     <section>
                        <span class="text-muted">Dirección:</span>
                        <span>{{ partner.address }}</span>
                     </section>
                  </div>
               </div>
               <!-- Metadata-->
               <div class="row bg-gray rounded-1 mt-5 border">
                  <div class="col">
                     <section>
                        <span class="text-muted">Fecha de Creación:</span>
                        <span>{{ partner.created_at }}</span>
                     </section>
                     <section>
                        <span class="text-muted">Última Actualización:</span>
                        <span>{{ partner.updated_at }}</span>
                     </section>
                  </div>
                  <div class="col">
                     <section>
                        <span class="text-muted">Creado Por:</span>
                        <span>{{ partner.get_create_user|default:"SYSTEM" }}</span>
                     </section>
                     <section>
                        <span class="text-muted">Actualizado Por:</span>
                        <span>{{ partner.get_update_user|default:"SYSTEM" }}</span>
                     </section>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Si el socio es cliente, mostrar tabla asociada -->
      {% if partner.type_partner == 'CLIENTE' %}
      <div class="col-md-4 mb-3">
            <div class="card">
            <div class="card-header p-1 bg-dark bg-gradient bg-opacity-75 text-white">
                Proveedores Asociados
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped" id="myTable4">
                   <thead>
                      <tr>
                         <th class="text-center p-0">#</th>
                         <th class="text-center -">Nombre</th>
                         <th class="text-center">Acción</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr v-for="item, idx in all_supliers">
                         <td class="text-center p-0">[[ idx + 1 ]]</td>
                         <td class="p-0">[[ item.name ]]</td>
                         <td class="text-center p-0">
                            <a href="#" v-if="item.selected" @click="item.selected = false" class="text-danger">No Relacionado</a>
                            <a href="#" v-else @click="item.selected = true" class="text-success">Relacionado</a>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
        </div>
      </div>
      {% endif %}
   </div>
</div>
{% endblock %}

{% if partner.type_partner == 'CLIENTE' %}
{% block script %}
<script>
    function openPopup(url) {
        window.open(
            url,
            '_blank',
            'width=800,height=600,scrollbars=yes,resizable=yes'
        );
    }
        var all_supliers = {{ all_supliers | safe }};
        all_supliers = all_supliers.map((el) => {
            const sup = JSON.parse(el.suplier)[0];
            return {
                "selected": el.selected,
                "id": sup.pk,
                ...sup.fields
            }
        });
</script>
{% endblock %}
{% block script_app %}
<script src="/static/js/app/partner-app.js" ></script>
{% endblock %}
{% endif %}

