{% extends 'base/base.html' %}

{% block content %}
<div class="container container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
   <div class="row">
      <div class="col-3">
         <span class="text-primary">{{ title_section }}</span>
      </div>
      <div class="col-4 text-center">
         {% if action %}
         <div class="{% if action == 'delete' or action == 'no_delete'%} bg-danger {% else %} bg-kosmo-green {% endif %} bg-gradient p-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
               <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
               <path d="M9 12l2 2l4 -4" />
            </svg>
            {{ message }}
         </div>
         {% endif %}
      </div>
      <div class="col-5 d-flex align-items-center justify-content-end gap-3">
         {% if action != 'delete' %}
         <a href="{% url 'partner_detail' partner.id %}?action=delete" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
               <path d="M4 7l16 0" />
               <path d="M10 11l0 6" />
               <path d="M14 11l0 6" />
               <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
               <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
            </svg>
            Eliminar
         </a>
         {% endif %}
         {% if action == 'delete' %}
         <a href="{% url 'partner_delete' partner.id %}" class="btn btn-danger btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
               <path d="M4 7l16 0" />
               <path d="M10 11l0 6" />
               <path d="M14 11l0 6" />
               <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
               <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
            </svg>
            Confirmar Eliminación De Registro
         </a>
         {% endif %}
         <a href="{% url 'partner_update' partner.id %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
               <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
               <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
               <path d="M16 5l3 3" />
            </svg>
            Editar
         </a>
         <a href="{% url 'partner_create' %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
               <path d="M12 5l0 14" />
               <path d="M5 12l14 0" />
            </svg>
            Agregar
         </a>
         {% if source_page == 'clientes' %}
         <a href="{% url 'customers_list' %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M5 12l14 0" />
               <path d="M5 12l6 6" />
               <path d="M5 12l6 -6" />
            </svg>
            Volver
         </a>
         {% else %}
         <a href="{% url 'supliers_list' %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M5 12l14 0" />
               <path d="M5 12l6 6" />
               <path d="M5 12l6 -6" />
            </svg>
            Volver
         </a>
         {% endif %}
      </div>
   </div>
</div>
<div class="container mt-2">
   <div class="row">
      <!-- Tarjeta para la Información del Socio de Negocio -->
         <div class="col-md-12 mb-3">
         <div class="card">
            <div class="card-header p-1 bg-peisol-primary bg-gradient bg-opacity-75 text-white rounded-0 upper">
               <div class="row">
                  <div class="col-6">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                        <path d="M12 9h.01" />
                        <path d="M11 12h1v4h1" />
                     </svg>
                     {{ partner.type_partner }} - {{ partner.name  }}
                     {%  if partner.is_verified %}
                        PROVEEDOR VERIFICADO
                     {% else %}
                        PROVEEDOR NO VERIFICADO
                     {% endif %}
                  </div>
                  <div class="col-6 text-end">
                     {% if partner.type_partner == 'PROVEEDOR' and last_dae%}
                     <a href="{% url 'dae_detail' last_dae.id %}">
                        Ultima DAE: {{ last_dae.dae  }}
                     </a>
                        <a href="{% url 'dae_list' %}">
                        <span class="badge border bg-kosmo-green">
                           <svg  xmlns="http://www.w3.org/2000/svg"  width="15"  height="15"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                           Ver DAES
                        </span>
                     </a>
                     {% endif %}
                     {% if partner.type_partner == 'PROVEEDOR' and not last_dae%}
                     <span>No tiene DAE Registrada &nbsp;</span>
                     <a href="{% url 'dae_create' partner.id %}">
                        <span class="badge border bg-kosmo-green">
                           <svg  xmlns="http://www.w3.org/2000/svg"  width="15"  height="15"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                           Registrar DAE
                        </span>
                     </a>
                     {% endif %}
                  </div>
            </div>
         </div>
            <div class="card-body shadow">
               <div class="row">
                  <div class="col-8">
                     <div class="row">
                        <div class="col-6">
                           <section>
                              <span class="text-muted">RUC:</span>
                              <span class="ps-2">{{ partner.business_tax_id }}</span>
                           </section>
                           <section>
                              <span class="text-muted">Nombre:</span>
                              <span class="ps-2">{{ partner.name }}</span>
                           </section>
                           <section>
                              <span class="text-muted">Crédito:</span>
                              <span class="ps-2">{{ partner.credit_term }} días</span>
                           </section>
                           <section>
                              <span class="text-muted">Direccion de Envio:</span>
                              <span class="ps-2">{{ partner.dispatch_address }}</span>
                           </section>
                           <section>
                              <span class="text-muted">Referencia de Embarque:</span>
                              <span class="ps-2">
                                 {% if partner.cargo_reference %}
                                    {{ partner.cargo_reference }}
                                 {% else %}
                                    --
                                 {% endif %}
                              </span>
                           </section>
                           <section>
                              <span class="text-muted">Consolidado:</span>
                              <span class="ps-2">{{ partner.consolidate |yesno:'Si,No' }}</span>
                           </section>
                           {% if partner.type_partner == 'PROVEEDOR' %}
                           <section>
                              <span class="text-muted">Margen:</span>
                              <span class="ps-2">{{ partner.default_profit_margin }}</span>
                           </section>
                           {% endif %}
                           <section>
                              <span class="text-muted">Referencia 1:</span>
                              <span class="ps-2">
                                 {% if partner.reference_1 %}
                                 {{ partner.reference_1 }}
                                 {% endif %}
                              </span>
                           </section>
                           <section>
                              <span class="text-muted">Referencia 2:</span>
                              <span class="ps-2">
                                 {% if partner.reference_2 %}
                                 {{ partner.reference_2 }}
                                 {% endif %}
                              </span>
                           </section>
                           <section>
                              <span class="text-muted">Telefono Ref1:</span>
                              <span class="ps-2">
                                 {% if partner.phone_reference_1 %}
                                    {{ partner.phone_reference_1 }}
                                 {% endif %}
                              </span>
                           </section>
                        </div>
                        <div class="col-6">
                           <section>
                              <span class="text-muted">Correo Electrónico:</span>
                              <span class="ps-2">{{ partner.email }}</span>
                           </section>
                           <section>
                              <span class="text-muted">Teléfono:</span>
                              <span class="ps-2">{{ partner.phone }}</span>
                           </section>
                           <section>
                              <span class="text-muted">Dirección:</span>
                              <span class="ps-2">{{ partner.address }} {{ partner.zip_code }}</span>
                           </section>
                           <section>
                              <span class="text-muted">Ciudad Pais:</span>
                              <span class="ps-2">{{ partner.country }} {{ partner.city }}</span>
                           </section>
                           <section>
                              <span class="text-muted">Pag Web:</span>
                              <span class="ps-3">
                                 {% if partner.website  %}
                                 <a href="{{ partner.website }}">
                                    {{ partner.website }}
                                 </a>
                                 {%else%}
                                 --
                                 {% endif %}
                              </span>
                           </section>
                           <section>
                              <span class="text-muted">
                                 Estado Socio
                              </span>
                              {% if partner.is_active %}
                              <span class="text-success ps-3" title="El socio esta activo y se pueden generar tranacciones">
                                 <svg  xmlns="http://www.w3.org/2000/svg"  width="15"  height="15"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                                 Activo
                              </span>
                              {% else %}
                              <span class="text-danger ps-3" title="el socio no esta activo, no se puede transaccionar">
                                 <svg  xmlns="http://www.w3.org/2000/svg"  width="15"  height="15"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v4" /><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" /><path d="M12 16h.01" /></svg>
                                 Inactivo
                              </span>
                              {% endif %}
                           </section>
                           {% if partner.type_partner == 'PROVEEDOR' %}
                           <section>
                              <span class="text-muted">Margen Incluido en Costo:</span>
                              <span class="ps-2">
                                    {% if  partner.is_profit_margin_included %}
                                    <span class="badge border bg-warning" title="El margen esta incluido en el costo de compra">
                                       SI
                                    </span>
                                    {% else %}
                                    <span class="badge border bg-secondary" title="El margen no esta incluido en el costo de compra">
                                    NO
                                    </span>
                                    {% endif %}
                              </span>
                           </section>
                           {% endif %}
                           <section>
                              <span class="text-muted">Contacto Ref1:</span>
                              <span class="ps-2">
                                 {% if partner.contact_reference_1 %}
                                    {{ partner.contact_reference_1 }}
                                 {% endif %}
                              </span>
                           </section>
                           <section>
                              <span class="text-muted">Contacto Ref2:</span>
                              <span class="ps-2">
                                 {% if partner.contact_reference_2 %}
                                    {{ partner.contact_reference_2 }}
                                 {% endif %}
                              </span>
                           </section>
                           <section>
                              <span class="text-muted">Telefono Ref2:</span>
                              <span class="ps-2">
                                 {% if partner.phone_reference_2 %}
                                    {{ partner.phone_reference_2 }}
                                 {% endif %}
                              </span>
                           </section>
                        </div>
                        <div class="col-12">
                           <section class="border p-2">
                              <span class="text-muted">Notas:</span>
                              <span class="ps-2">
                                 {% if partner.notes %}
                                    {{ partner.notes }}
                                 {% else %}
                                    --
                                 {% endif %}
                              </span>
                        </div>
                     </div>
                     <br>
                     <div class="row border-bottom bg-gray p-1">
                        <div class="col-6 text-center d-flex justify-content-between gap-3">
                           <span class="text-warning">
                              Medios de Pago
                           </span>
                           <a href="{% url 'bank_create' partner.id %}" class="badge border bg-secondary">
                              <svg  xmlns="http://www.w3.org/2000/svg"  width="15"  height="15"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                              Nuevo
                           </a>
                        </div>
                        <div class="col-6 text-center d-flex justify-content-between gap-3">
                           <span class="text-success">Contactos</span>
                           <a href="{% url 'contact_create' partner.id %}" class="badge border bg-secondary pe-1">
                              <svg  xmlns="http://www.w3.org/2000/svg"  width="15"  height="15"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                              Nuevo
                           </a>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col-6">
                           <div class="row">
                              {% for bank in  banks %}
                              <div class="col-12 border-start m-1 pt-2 border-warning border-2">
                                 <section>
                                    <span class="text-muted">Banco:</span>
                                    <span class="ps-3 d-flex justify-content-between">
                                       <span>
                                          {% if bank.is_active %}
                                             <i class="text-success">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                                Activo
                                             </i>
                                          {% else %}
                                             <i class="text-danger">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v4" /><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" /><path d="M12 16h.01" /></svg>
                                                Inactivo
                                             </i> 
                                          {% endif %}
                                       {{ bank.bank_name }}
                                       <i class="text-muted"> / </i>
                                       {% if bank.national_bank %}
                                       <i class="badge border text-primary">B. Nacional</i>
                                       {% else %}
                                       <i class="badge boder text-success">B. Internacional</i>
                                       {% endif %}
                                    </span>
                                       <a href="{% url 'bank_update'  bank.pk %}" class="badge border bg-secondary">
                                          <svg  xmlns="http://www.w3.org/2000/svg"  width="15"  height="15"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
                                             Editar
                                       </a>
                                    </span>
                                 </section>
                                 <section>
                                    <span class="text-muted">Cuenta:</span>
                                    <span class="ps-3">{{ bank.account_number }}</span>
                                 </section>
                                 <section>
                                    <span class="text-muted">SWIFT / IBAN:</span>
                                    <span class="ps-3">
                                       {% if bank.swift_code  %}
                                          {{ bank.swift_code }}
                                       {% else %}
                                          --
                                       {% endif %}
                                       /
                                       {% if bank.iban  %}
                                          {{ bank.iban }}
                                       {% else %}
                                          --
                                       {% endif %}
                                    </span>
                                 </section>
                                 <section>
                                    <span class="text-muted">Titular Cuenta / Id</span>
                                 <span class="ps-3">{{ bank.owner }} / {{ bank.id_owner }}</span>
                                 </section>
                              </div>
                              {% endfor %}
                           </div>
                        </div>
                        <div class="col-6">
                           <div class="row">
                              {% for contact in contacts %}
                              <div class="col-12 border-start border-2 m-1 pt-2 border-success">
                                    <section>
                                       <span class="text-muted">Contacto:</span>
                                       <span class="ps-3 d-flex justify-content-between">
                                          <span> 
                                             {% if contact.is_active %}
                                             <i class="text-success">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                                Activo
                                             </i>
                                          {% else %}
                                             <i class="text-danger">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v4" /><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" /><path d="M12 16h.01" /></svg>
                                                Inactivo
                                             </i> 
                                          {% endif %}
                                             {{ contact.name }} 
                                          </span>
                                          <a href="{% url 'contact_update' partner.id %}" class="badge border bg-secondary">
                                             <svg  xmlns="http://www.w3.org/2000/svg"  width="15"  height="15"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
                                                Editar
                                          </a>
                                       </span>
                                    </section>
                                    <section>
                                       <span class="text-muted">Cargo:</span>
                                       <span class="ps-3">
                                          {{ contact.position }}
                                       </span>
                                    </section>
                                    <section>
                                       <span class="text-muted">Telefono:</span>
                                       <span class="ps-3">
                                          {{ contact.phone }}
                                       </span>
                                    </section>
                                    <section>
                                       <span class="text-muted">Correo</span>
                                       <span class="ps-3">
                                          {{ contact.email }}
                                       </span>
                                    </section>
                                 </div>
                                 {%  endfor %}
                              </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-4">
                     <div class="card-body pt-0">
                     <div class="span w-100 text-center bg-kosmo-secondary text-white rounded-top">
                        {% if partner.type_partner == 'CLIENTE' %}
                           Proveedores De Los Que Se Acepta Stock
                        {% endif %}
                        {% if partner.type_partner == 'PROVEEDOR' %}
                           Clientes Que Aceptan Este Stock
                        {% endif %}
                     </div>
                     <table class="table" id="myTable4">
                        <tbody>
                           <tr v-for="item, idx in all_supliers">
                              <td class="p-0">[[ item.name ]]</td>
                              <td class="text-start p-0">
                                 <span v-if="item.selected" @click="changeItemStatus(item)" class="text-success">
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-square-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M9 12l2 2l4 -4" /></svg>
                                    SI
                                 </span>
                                 <span v-else @click="changeItemStatus(item)" class="text-primary">
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-square"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /></svg>
                                    NO
                                 </span>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  </div>
               </div>
               <!-- Metadata-->
               <div class="row bg-gray rounded-1 mt-2 pt-2 border">
                  <div class="col">
                     <section>
                        <span class="text-muted">Fecha de Creación:</span>
                        <span>{{ partner.created_at }}</span>
                     </section>
                     <section>
                        <span class="text-muted">Última Actualización:</span>
                        <span>{{ partner.updated_at }}</span>
                     </section>
                  </div>
                  <div class="col">
                     <section>
                        <span class="text-muted">Creado Por:</span>
                        <span>{{ partner.get_create_user|default:"SYSTEM" }}</span>
                     </section>
                     <section>
                        <span class="text-muted">Actualizado Por:</span>
                        <span>{{ partner.get_update_user|default:"SYSTEM" }}</span>
                     </section>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% if partner.type_partner == 'CLIENTE' %}
{% block script %}
<script>
    function openPopup(url) {
        window.open(
            url,
            '_blank',
            'width=800,height=600,scrollbars=yes,resizable=yes'
        );
    }
        var all_supliers = {{ parent_supliers | safe }};
        var csrf_token = "{{ csrf_token }}";
        var urlPOST = "{% url 'partner_update_parent' partner.id %}";
        all_supliers = all_supliers.map((el) => {
            const sup = JSON.parse(el.suplier)[0];
            return {
                "selected": el.selected,
                "id": sup.pk,
                ...sup.fields
            }
        });
</script>
{% endblock %}
{% block script_app %}
<script src="/static/js/app/partner-app.js" ></script>
{% endblock %}
{% endif %}

