<form method="POST" action="">
    {% csrf_token %}
    
    <div class="row">
      <!-- Columna 1 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label for="id_partner" class="form-label">Socio de Negocio</label>
          <select class="form-select form-control-sm" id="id_partner" name="partner">
            {% for partner in partners %}
            <option value="{{ partner.id }}">{{ partner.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="id_name" class="form-label">Nombre</label>
          <input type="text" class="form-control form-control-sm" id="id_name" name="name" maxlength="255" required>
        </div>
      </div>
  
      <!-- Columna 2 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label for="id_position" class="form-label">Cargo</label>
          <input type="text" class="form-control form-control-sm" id="id_position" name="position" maxlength="255">
        </div>
        <div class="mb-3">
          <label for="id_phone" class="form-label">Teléfono</label>
          <input type="text" class="form-control form-control-sm" id="id_phone" name="phone" maxlength="20">
        </div>
      </div>
  
      <!-- Columna 3 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label for="id_email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control form-control-sm" id="id_email" name="email" maxlength="255">
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input form-control-sm" id="id_is_principal" name="is_principal">
          <label class="form-check-label" for="id_is_principal">Principal</label>
        </div>
      </div>
    </div>
  
    <!-- Botones -->
    <hr class="my-4">
    
    <div class="row mt-3">
      <div class="col text-center d-flex justify-content-between">
        <a href="#" class="btn btn-outline-secondary btn-sm">Cancelar</a>
        <button type="submit" class="btn btn-outline-success btn-sm">Guardar</button>
      </div>
    </div>
  </form>
  