{% extends 'base/base.html' %}

{% block content %}
<div class="container container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
    <div class="row">
        <div class="col-6">
            <span class="text-primary">
                {{ title_section }}
            </span>
        </div>
        <div class="col-6 d-flex justify-content-end gap-3">
            {% if request.resolver_match.url_name != 'partner_create' %}
            <a href="{% url 'partner_detail' partner.id %}?action=delete" class="btn btn-sm btn-default">
                Eliminar Socio
            </a>
            <a href="{% url 'partner_detail' partner.id %}" class="btn btn-sm btn-default">
                Volver Ficha
            </a>
            {% endif %}
            <a href="{% url 'partner_list' %}" class="btn btn-sm btn-default">
                Cancelar
            </a>
        </div>
    </div>
</div>

<div class="container mt-2">
    <!-- Información del Socio de Negocio -->
    <div class="card mb-2">
        <div class="card-header p-1 bg-secondary bg-gradient bg-opacity-75 text-white">
            Información del Socio de Negocio
        </div>
        <div class="card-body">
          <form action="" method="post">
            {{ form.errors }}
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="business_tax_id" class="text-muted">RUC:</label>
                    {{ form.business_tax_id }}
                </div>
                <div class="col-md-4">
                    <label for="name" class="text-muted">Nombre del Socio:</label>
                    {{ form.name }}
                </div>
                <div class="col-md-4">
                    <label for="email" class="text-muted">Correo Electrónico:</label>
                    {{ form.email }}
                </div>
                <div class="col-md-4">
                    <label for="phone" class="text-muted">Teléfono:</label>
                    {{ form.phone }}
                </div>
                <div class="col-md-4">
                    <label for="address" class="text-muted">Dirección:</label>
                    {{ form.address }}
                </div>
                <div class="col-md-4">
                    <label for="country" class="text-muted">País:</label>
                    {{ form.country }}
                </div>
                <div class="col-md-4">
                    <label for="city" class="text-muted">Ciudad:</label>
                    {{ form.city }}
                </div>
                <div class="col-md-4">
                    <label for="zip_code" class="text-muted">Código Postal:</label>
                    {{ form.zip_code }}
                </div>
                <div class="col-md-4">
                    <label for="type_partner" class="text-muted">Tipo de Socio:</label>
                    {{ form.type_partner }}
                </div>
                <div class="col-md-4">
                    <label for="credit_term" class="text-muted">Plazo de Crédito:</label>
                    {{ form.credit_term }}
                </div>
                <div class="col-md-4">
                    <label for="website" class="text-muted">Sitio Web:</label>
                    {{ form.website }}
                </div>
                <div class="col-md-4">
                    <label for="skype" class="text-muted">Skype:</label>
                    {{ form.skype }}
                </div>
                <div class="col-md-4">
                    <label for="dispatch_address" class="text-muted">Dirección de Envío:</label>
                    {{ form.dispatch_address }}
                </div>
                <div class="col-md-4">
                    <label for="dispatch_days" class="text-muted">Días de Envío:</label>
                    {{ form.dispatch_days }}
                </div>
                <div class="col-md-4">
                    <label for="cargo_reference" class="text-muted">Referencia de Carga:</label>
                    {{ form.cargo_reference }}
                </div>
                <div class="col-md-2">
                    <label for="consolidate" class="text-muted">Consolidar:</label>
                    {{ form.consolidate }}
                </div>
                <div class="col-md-2">
                  <label for="consolidate" class="text-muted">Proveedor Activo?:</label>
                  {{ form.is_active }}
              </div>
              <div class="col-md-8">
                <label for="consolidate" class="text-muted">Consolidar:</label>
                {{ form.notes }}
            </div>
            </div>
            <div class="row bg-gray bg-gradient p-2 rounded border">
                <div class="col text-end">
                  <button class="btn btn-sm btn-default">
                    Guardar
                  </button>
                </div>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}
