{% extends 'base/base.html' %}

{% block content %}
<div class="container container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
    <div class="row">
        <div class="col-6">
            <span class="text-primary">
                {{ title_section }}
            </span>
        </div>
        <div class="col-6 d-flex justify-content-end gap-3">
            {% if request.resolver_match.url_name != 'partner_create' %}
            <a href="{% url 'partner_detail' partner.id %}?action=delete" class="btn btn-sm btn-default">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                Eliminar Socio
            </a>
            <a href="{% url 'partner_detail' partner.id %}" class="btn btn-sm btn-default">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                Volver Ficha
            </a>
            {% endif %}
            <a href="{% url 'customers_list' %}" class="btn btn-sm btn-default">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-ban"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M5.7 5.7l12.6 12.6" /></svg>
                Cancelar
            </a>
        </div>
    </div>
</div>

<div class="container mt-2">
    <!-- Información del Socio de Negocio -->
    <div class="card mb-2">
        <div class="card-header p-1 bg-secondary bg-gradient bg-opacity-75 text-white">
            Información del Socio de Negocio
        </div>
        <div class="card-body">
          <form action="" method="post">
            {{ form.errors }}
            {% csrf_token %}
            <div class="row bg-gray-200 rounded-1">
                <span class="fw-bold text-primary">
                    Información General 
                </span>
            </div>
            <hr/>
        <div class="row mb-3">
                <div class="col-md-3">
            <label for="id_business_tax_id" class="form-label text-muted">RUC/DNI/TAXID/ID:</label>
                    {{ form.business_tax_id }}
                </div>
                <div class="col-md-6">
            <label for="id_name" class="form-label text-muted">Nombre del Socio:</label>
                    {{ form.name }}
                </div>
                <div class="col-md-3">
            <label for="id_short_name" class="form-label text-muted">Nombre Corto:</label>
                    {{ form.short_name }}
                </div>
                <div class="col-md-3">
            <label for="id_type_partner" class="form-label text-muted">Tipo de Socio:</label>
                    {{ form.type_partner }}
                </div>
                <div class="col-md-3" id="seller_field" {% if not form.instance.id or form.instance.type_partner != 'CLIENTE' %}style="display:none;"{% endif %}>
            <label for="id_seller" class="form-label text-muted">Vendedor:</label>
                    {{ form.seller }}
                </div>
                <div class="col-md-3">
            <label for="id_status" class="form-label text-muted">Estado:</label>
                    {{ form.status }}
                </div>
                <div class="col-md-3">
            <label for="id_date_aproved" class="form-label text-muted">Fecha de Aprobación:</label>
                    {{ form.date_aproved }}
                </div>
                <div class="col-md-3">
            <label for="id_email" class="form-label text-muted">Correo Electrónico:</label>
                    {{ form.email }}
                </div>
                <div class="col-md-3">
            <label for="id_phone" class="form-label text-muted">Teléfono:</label>
                    {{ form.phone }}
                </div>
                <div class="col-md-6">
            <label for="id_address" class="form-label text-muted">Dirección:</label>
                    {{ form.address }}
                </div>
                <div class="col-md-3">
            <label for="id_country" class="form-label text-muted">País:</label>
                    {{ form.country }}
                </div>
                <div class="col-md-3">
            <label for="id_city" class="form-label text-muted">Ciudad:</label>
                    {{ form.city }}
                </div>
                <div class="col-md-3">
            <label for="id_zip_code" class="form-label text-muted">Código Postal:</label>
                    {{ form.zip_code }}
                </div>
                <div class="col-md-3">
            <label for="id_area_code" class="form-label text-muted">Código de Area:</label>
                    {{ form.area_code }}
                </div>
                <div class="col-md-3">
            <label for="id_credit_term" class="form-label text-muted">Plazo de Crédito:</label>
                    {{ form.credit_term }}
                </div>
                <div class="col-md-3">
            <label for="id_website" class="form-label text-muted">Sitio Web:</label>
                    {{ form.website }}
                </div>
                <div class="col-md-3">
            <label for="id_skype" class="form-label text-muted">Skype / Teams:</label>
                    {{ form.skype }}
                </div>
                <div class="col-md-6">
            <label for="id_dispatch_address" class="form-label text-muted">Dirección de Envío:</label>
                    {{ form.dispatch_address }}
                </div>
                <div class="col-md-2">
            <label for="id_dispatch_days" class="form-label text-muted">Días de Envío:</label>
                    {{ form.dispatch_days }}
                </div>
                <div class="col-md-4">
            <label for="id_cargo_reference" class="form-label text-muted">Referencia Carguera:</label>
                    {{ form.cargo_reference }}
                </div>
                <div class="col-md-3">
            <label for="id_email_payment" class="form-label text-muted">Correo de Pagos:</label>
                    {{ form.email_payment }}
                </div>
                <div class="col-md-9">
            <label for="id_notes" class="form-label text-muted">Notas:</label>
                    {{ form.notes }}
                </div>
                <div class="col-md-12" id="prompt_field" style="{% if form.instance.type_partner != 'PROVEEDOR' and form.instance.id %}display: none;{% endif %}">
            <label for="id_prompt_disponibility" class="form-label text-muted">Prompt de Disponibilidad:</label>
                    {{ form.prompt_disponibility }}
                </div>
            </div>
            <div class="row bg-gray-200 rounded-1">
                <span class="fw-bold text-primary">
                    Contactos 
                </span>
            </div>
            <hr/>
                <div class="row">
                <div class="col-md-4">
                    <label for="reference_1" class="text-muted">Referencia 1:</label>
                    {{ form.reference_1 }}
                </div>
                <div class="col-md-4">
                    <label for="reference_1" class="text-muted">Contacto Ref 1:</label>
                    {{ form.contact_reference_1 }}
                </div>
                <div class="col-md-4">
                    <label for="reference_1" class="text-muted">Telefono Ref 1:</label>
                    {{ form.phone_reference_1 }}
                </div>
                <div class="col-md-4">
                    <label for="reference_1" class="text-muted">Referencia 2:</label>
                    {{ form.reference_2 }}
                </div>
                <div class="col-md-4">
                    <label for="reference_1" class="text-muted">Contacto Ref 2:</label>
                    {{ form.contact_reference_2 }}
                </div>
                <div class="col-md-4">
                    <label for="reference_1" class="text-muted">Telefono Ref 2:</label>
                    {{ form.phone_reference_2 }}
                </div>
            </div>
            <br>
            <div class="row bg-gray-200 rounded-1">
                <span class="fw-bold text-primary">
                    Margenes y Verificaciones 
                </span>
            </div>
            <hr/>
                <div class="row">
                    <div class="col-md-3 mb-2">
                        <div class="form-check form-switch">
                            {{ form.is_profit_margin_included }}
                            <label class="form-check-label" for="id_is_profit_margin_included">¿Margen Incluido En Costo?</label>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="id_default_profit_margin" class="form-label text-muted">Rendimiento Por Tallo</label>
                        {{ form.default_profit_margin }}
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="form-check form-switch">
                            {{ form.consolidate }}
                            <label class="form-check-label" for="id_consolidate">Consolidar</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="form-check form-switch">
                            {{ form.is_verified }}
                            <label class="form-check-label" for="id_is_verified">Socio Verificado</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <div class="form-check form-switch">
                            {{ form.is_active }}
                            <label class="form-check-label" for="id_is_active">¿Socio Activo?</label>
                        </div>
                    </div>
                </div>
            <div class="row bg-gray bg-gradient p-2 rounded border">
                <div class="col text-end">
                  <button class="btn btn-sm btn-primary">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" /><path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M14 4l0 4l-6 0l0 -4" /></svg>
                    Guardar
                  </button>
                </div>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const typePartnerSelect = document.getElementById('id_type_partner');
        const sellerField = document.getElementById('seller_field');
        const promptField = document.getElementById('prompt_field');
        
        if (typePartnerSelect && sellerField) {
            const toggleSeller = () => {
                if (typePartnerSelect.value === 'CLIENTE') {
                    sellerField.style.display = 'block';
                } else {
                    sellerField.style.display = 'none';
                }
            }
            typePartnerSelect.addEventListener('change', toggleSeller);
            toggleSeller(); // inicial
        }
        
        if (typePartnerSelect && promptField) {
            typePartnerSelect.addEventListener('change', function() {
                if (this.value === 'PROVEEDOR') {
                    promptField.style.display = 'block';
                } else {
                    promptField.style.display = 'none';
                }
            });
        }
    });
</script>
{% endblock %}
