
{% extends 'base/base.html' %}
{% block content %}
<div class="container container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
    <div class="row">
       <div class="col-3">
          <span class="text-primary">
          {{ title_section }}
          </span>
       </div>
       <div class="col-4 text-center">
        <span class="text-dark bg-warning p-2 rounded-1" v-if="show_message">
          El Proveedor y el detalle del stock son obligatorios
        </span>
           {% if action %}
          <div class=" if action == 'delete' or action == 'no_delete' %} bg-danger  else %} bg-kosmo-green  endif %} bg-gradient p-2 rounded">
             <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M9 12l2 2l4 -4" />
             </svg>
             {{ message }}
          </div>
           {% endif %}
       </div>
       <div class="col-5 d-flex align-items-center justify-content-end gap-3">
           {% if  action == 'delete' %}
             <a class="btn btn-danger btn-sm" href=" url 'dae_delete' dae.pk %}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="1.5">
                   <path d="M4 7l16 0"></path>
                   <path d="M10 11l0 6"></path>
                   <path d="M14 11l0 6"></path>
                   <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                   <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                </svg>
                Confirmar Eliminación {{ stock_day }}
             </a>
           {% endif %}
          <button v-if="!show_form"  @click="show_form = true" class="btn btn-sm btn-default">
             <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
             Mostrar Formulario
          </button>
          <a href="{% url 'stock_detail_detail' stock_day.pk %}" v-if="!show_form" class="btn btn-sm btn-default">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
            Ver Disponibilidad
          </a>
          <a href=" url 'dae_list' %}" class="btn btn-sm btn-default">
             <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
                <path d="M5 12l14 0" />
                <path d="M5 12l6 6" />
                <path d="M5 12l6 -6" />
             </svg>
             Todos los Stocks
          </a>
       </div>
    </div>
 </div>
<div class="container border mt-3 mb-3 rounded shadow">
  <!-- Token de CSRF eliminado, ya que no es necesario en HTML plano -->
  <!-- Formulario maestro (StockDay) -->
  <div v-if="show_form">
  <div class="row">
    <div class="col-6">
      <div class="mb-4">
        <label for="id_date" class="form-label">Proveedor</label>
        <input list="suppliers" class="form-control form-control-sm" @change="selectPartner">
        <datalist id="suppliers">
          {% for item in partners %}
          <option value="{{ item.name }}"></option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    <div class="col-6 text-end align-items-end">
        <button class="btn btn-lg btn-default mt-3 text-success" @click="sendData" v-if="stock.stock_text">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-settings"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
            Procesar Texto
          </button>
    </div>
</div>
<div class="row border-bottom pb-2">
  <div class="col-12">
    <textarea v-model='stock.stock_text' rows="8" class="form-control" @change="processText" placeholder="Ingrese aqui el Texto"></textarea>
  </div>
</div>
</div>
<div v-else>
  <div class="row">
    <div class="col-12 text-center bg-gray bg-gradient fs-6 border-top border-start border-end border-success">
      <div class="mt-3 d-flex flex-column gap-1">
        <span>
          Detalles Disponibilidad Creada
        </span>
        <span>
          {{ stock_day.date }}
        </span>
        <span class="text-danger" v-if="partner">
           [[ partner.name ]]
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    <table class="table table-striped table-hover table-bordered" id="myTable">
      <thead>
        <tr class="text-center">
          <th class="bg-primary bg-gradient p-0 text-white"> # </th>
          <th class="bg-primary bg-gradient p-0 text-white">Entrada</th>
          <th class="bg-primary bg-gradient p-0 text-white">Cant</th>
          <th class="bg-primary bg-gradient p-0 text-white">Caja</th>
          <th class="bg-primary bg-gradient p-0 text-white">Tallos</th>
          <th class="bg-primary bg-gradient p-0 text-white">Items</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="itm, idx in disponibility" :key="itm">
          <td class="bg-secondary bg-opacity-50 p-0 text-center">
            [[ idx + 1 ]]
          </td>
          <td class="text-primary bg-opacity-50 p-0">
            [[ itm.text_entry ]]
          </td>
          <td class="p-0 text-center">[[ itm.quantity_box ]]</td>
          <td class="p-0 text-center">[[ itm.box_model ]]</td>
          <td class="p-0 text-end">[[ itm.tot_stem_flower ]]</td>
          <td class="p-0">
            <section v-for="line in itm.box_items" class="d-flex justify-content-end gap-3">
              <span class="border-bottom" :class="{'text-primary' : line.was_created}">
                <span class="text-warning" v-if="line.was_created">
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v4" /><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" /><path d="M12 16h.01" /></svg>
                </span>
                [[ line.name ]]  [[ line.variety ]]
              </span>  
              <span class="w-10 border-bottom">
                [[ line.length ]] Cm
              </span>
              <span class="w-10 border-bottom">[[ line.tot_stem_flower ]] Tallos</span>
              <span class="w-10 border-bottom">
                [[ formatCurrency(line.stem_cost_price) ]]
              </span>
            </section>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 bg-gray p-3 d-flex gap-2 justify-content-end">
    <a href="{% url 'stock_detail_detail' stock_day.pk %}" v-if="!show_form" class="btn btn-sm btn-default">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
      Ver Disponibilidad
    </a>
    <a href="{% url 'stock_detail_create' stock_day.pk %}" class="btn btn-sm btn-default">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
        <path d="M9 12l2 2l4 -4" />
      </svg>
      Cargar Nuevo
    </a>
  </div>
  </div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function() {
    $('#myTable').DataTable(
      {
        "language": {
          "lengthMenu": "Mostrar _MENU_ registros por página",
          "zeroRecords": "No se encontraron registros",
          "info": "Mostrando página _PAGE_ de _PAGES_",
          "infoEmpty": "No hay registros disponibles",
          "infoFiltered": "(filtrado de _MAX_ registros totales)",
          "search": "Buscar:",
          "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      }
    );
  });
</script>
<script>
  var partners = {{ partners_json | safe }};
  var urlPost = "{% url 'stock_detail_create'  stock_day.pk %}";
  var csrfToken = "{{ csrf_token }}";
  var stockDaiID = {{ stock_day.pk }};

  var partners = partners.map((i)=>{
    return {
      id: i.pk,
      ...i.fields
    }
  });
  var products = products.map((i)=>{
    return {
      id: i.pk,
      ...i.fields
    }
  });
</script>
<script src="/static/js/app/stock-entry-app.js"></script>
{% endblock %}
