</div>
<footer class="bg-[#ea5a28] text-white shadow-md py-4 border border-t-[#ec2422] border-t-1">
    <div class="container mx-auto text-center">
        <section>
            © 2024 Kosmo Flowers. Todos los derechos reservados
            <br>
            <small>desarrollado por eduardo@dev-7.com</small>
        </section>
    </div>
</footer>
<script>
    $( document ).ready(function() {
        let table = new DataTable('#myTable',{
            searchable: true,
            fixedHeight: true,
            fixedHeader: true,
            sortable: true,
            lengthMenu: [
                [25, 50, 100, 1000, -1],
                [25, 50, 100, 1000, 'All']
            ]
        },
    );

});
</script>
</body>
</html>
