/* Estilos generales */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  color: #333;
}

#app {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 2.5rem auto;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 2px solid #fb923c;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* Header y elementos generales */
.header {
  display: grid;
  grid-template-columns: 60% auto;
  margin-bottom: 1.5rem;
  gap: 10px; /* Reduce el espacio entre elementos del header */
}

.header-logo {
  margin-bottom: 0; /* Elimina el margen inferior del logo */
}

.header-logo img {
  max-height: 70px; /* Ajuste de altura del logo */
}

.header-invoice {
  text-align: right;
}

.invoice-box {
  border: 2px solid #fb923c;
  padding: 10px; /* Reduce el padding */
  border-radius: 0.25rem;
  margin: 0; /* Elimina márgenes innecesarios */
}

.invoice-number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0; /* Elimina márgenes entre elementos */
  padding: 3px 0; /* Reduce el padding vertical */
}

.invoice-number-label {
  font-size: 0.70rem;
  font-weight: bold;
  text-align: right;
  margin: 0; /* Elimina márgenes en texto */
  line-height: 1.2; /* Reduce el interlineado */
}

.invoice-number-value {
  font-size: 1.25rem;
  color: #dc2626;
  width: 120px;
  margin: 0; /* Elimina márgenes en texto */
  line-height: 1.2; /* Reduce el interlineado */
}

.invoice-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 2px solid #10b981;
  margin: 0; /* Elimina márgenes entre elementos */
  padding: 3px 0; /* Reduce el padding vertical */
}

.invoice-date-label {
  font-size: 0.70rem;
  font-weight: bold;
  text-align: right;
  margin: 0; /* Elimina márgenes en texto */
  line-height: 1.2; /* Reduce el interlineado */
}

.invoice-date-value {
  font-size: 1.25rem;
  width: 120px;
  margin: 0; /* Elimina márgenes en texto */
  line-height: 1.2; /* Reduce el interlineado */
}

.company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  border: 2px solid #fb923c;
  padding: 0.15rem;
  border-radius: 0.25rem;
}

.company-info-left, .company-info-right {
  font-size: 0.70rem;
}

.company-info-right {
  text-align: right;
}

/* Secciones de información del cliente y adicional */
.info-section {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.70rem;
}

.customer-info, .additional-info {
  border: 2px solid #fb923c;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.section-title {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.additional-info .section-title {
  color: #6b7280;
}

.info-row {
  margin-bottom: 0.05rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px dotted #e5e7eb;
  padding: 2px 0;
  width: 100%;
}

.label-col {
  text-align: left;
  padding-right: 5px;
  font-weight: bold;
}

.value-col {
  text-align: left;
  padding-right: 10px;
}

.info-row-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.05rem;
  width: 100%;
}

.flex-half {
  width: 48%;
  display: flex;
  border-bottom: 1px dotted #e5e7eb;
  padding: 2px 0;
}

.flex-half .label-col {
  width: 35%;
  padding-right: 5px;
}

.flex-half .value-col {
  width: 65%;
}

/* Tabla de productos */
.table-container {
  width: 95%;
  margin-bottom: 1.5rem;
  min-width: 100%;
}

table {
  font-size: 0.70rem;
  min-width: 100%;
  border-collapse: collapse;
}

table th {
  border: 1px solid #374151;
  background-color: #fdba74;
  padding: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}

table td {
  border: 1px solid #374151;
  padding: 0.2rem;
  text-align: right;
}

.td-nowrap {
  white-space: nowrap;
}

.td-width-small {
  width: 8.33%;
}

/* Total de factura */
.total-invoice {
  text-align: right;
  margin-bottom: 1.5rem;
}

.total-invoice p {
  font-size: 0.875rem;
  font-weight: bold;
}

/* Resumen y datos bancarios */
.summary-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

.summary-totals {
  border: 1px solid #374151;
  border-radius: 0.25rem;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border-bottom: 1px dotted #cdcdcd;
}

.summary-row:last-child {
  border-bottom: none;
}

.bank-info {
  font-size: 0.70rem;
  color: #6b7280;
  border: 1px solid #6b7280;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.bank-info p {
  margin: 0.25rem 0;
}

/* Nota final */
.footer-note {
  font-size: 0.70rem;
  font-style: italic;
}

.border-bottom {
  border-bottom: 1px dotted  #cdcdcd;
}

.w-1/4 {
  width: 25%;
}

.w-1/6 {
  width: 16.666667%;
}

.w-3/4 {
  width: 75%;
}

.email-credit-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.email-value {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.credit-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-width: 100px;
  margin-left: auto;
}

.credit-container .label-col,
.credit-container .value-col {
  width: auto;
  padding: 0 5px;
}