{% extends 'base/base.html'%}
{% load humanize %}
{% block style%}
  <style>
    .my-card:hover {
      background-color: #bbf79b !important;
      border-color: #5f5f5f !important;
    }
  </style>
{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row g-4">
      <!-- Sales Card -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-red-400 shadow rounded-2 h-100 p-4 my-card" style="background-color: #f8f9fa;">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h2 class="text-kosmo-primary">DISPONIBILIDAD</h2>
              <h6 class="mb-0">{{ stats.total_stock}} Stocks</h6>
              <div class="mt-2">
                <span class="text-secondary">
                    Último Stock: 
                      <span class="text-primary">{{ stats.last_stock.date | date:'d M' }} 
                        {{ stats.last_stock.date | naturalday }}</span> | 
                        <strong>{{ stats.total_stems | intcomma }}  Tallos</strong>
                </span>
              </div>
            </div>
            <div class="icon bg-danger text-white rounded-circle p-3 d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flower" width="50" height="50" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M12 2a3 3 0 0 1 3 3c0 .562 -.259 1.442 -.776 2.64l-.724 1.36l1.76 -1.893c.499 -.6 .922 -1 1.27 -1.205a2.968 2.968 0 0 1 4.07 1.099a3.011 3.011 0 0 1 -1.09 4.098c-.374 .217 -.99 .396 -1.846 .535l-2.664 .366l2.4 .326c1 .145 1.698 .337 2.11 .576a3.011 3.011 0 0 1 1.09 4.098a2.968 2.968 0 0 1 -4.07 1.098c-.348 -.202 -.771 -.604 -1.27 -1.205l-1.76 -1.893l.724 1.36c.516 1.199 .776 2.079 .776 2.64a3 3 0 0 1 -6 0c0 -.562 .259 -1.442 .776 -2.64l.724 -1.36l-1.76 1.893c-.499 .601 -.922 1 -1.27 1.205a2.968 2.968 0 0 1 -4.07 -1.098a3.011 3.011 0 0 1 1.09 -4.098c.374 -.218 .99 -.396 1.846 -.536l2.664 -.366l-2.4 -.325c-1 -.145 -1.698 -.337 -2.11 -.576a3.011 3.011 0 0 1 -1.09 -4.099a2.968 2.968 0 0 1 4.07 -1.099c.348 .203 .771 .604 1.27 1.205l1.76 1.894c-1 -2.292 -1.5 -3.625 -1.5 -4a3 3 0 0 1 3 -3z" />
                  </svg>
            </div>
          </div>
          <a href="{% url 'stock_detail_detail' stats.last_stock.id %}" class="stretched-link"></a>
        </div>
      </div>
  
      <!-- Purchases Card -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-blue-400 shadow rounded-2 h-100 p-4 my-card" style="background-color: #f8f9fa;">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h2 class="text-kosmo-green">OV PEDIDOS</h2>
              <h6 class="mb-0">{{ stats.total_orders }} PENDIENTES</h6>
              <p class="text-secondary mt-2">
                 {{ stats.total_orders_stems }} Tallos Por Confirmar
                 <strong>${{ stats.general_stats.sales_stats.total_dollars }}</strong>
              </p>
            </div>
            <div class="icon bg-primary text-white rounded-circle p-3 d-flex justify-content-center align-items-center">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="50"  height="50"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-cube-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 12.5v-4.509a1.98 1.98 0 0 0 -1 -1.717l-7 -4.008a2.016 2.016 0 0 0 -2 0l-7 4.007c-.619 .355 -1 1.01 -1 1.718v8.018c0 .709 .381 1.363 1 1.717l7 4.008a2.016 2.016 0 0 0 2 0" /><path d="M12 22v-10" /><path d="M12 12l8.73 -5.04" /><path d="M3.27 6.96l8.73 5.04" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
            </div>
          </div>
          <a href="{% url 'customer_orders_list' %}" class="stretched-link"></a>
        </div>
      </div>
      <!-- Partners Card -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-yellow-400 shadow rounded-2 h-100 p-4 my-card" style="background-color: #f8f9fa;">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h2 class="text-muted">OC COMPRAS</h2>
              <h6 class="mb-0">{{ stats.total_purchase_orders }} Ordenes En Espera</h6>
       <p class="text-secondary mt-2">
                  {{ stats.total_purchase_orders_stems }} Tallos Por Confirmar
                  <strong>${{ stats.general_stats.purchase_stats.total_dollars }}</strong>
              </p>
            </div>
            <div class="icon bg-warning text-white rounded-circle p-3 d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-basket-dollar" width="50" height="50" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M17 10l-2 -6" />
                    <path d="M7 10l2 -6" />
                    <path d="M13 20h-5.756a3 3 0 0 1 -2.965 -2.544l-1.255 -7.152a2 2 0 0 1 1.977 -2.304h13.999a2 2 0 0 1 1.977 2.304" />
                    <path d="M10 14a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                    <path d="M19 21v1m0 -8v1" />
                  </svg>
            </div>
          </div>
          <a href="{% url 'supplier_orders_list' %}" class="stretched-link"></a>
        </div>
      </div>
  
      <!-- Manual Ledger Card -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-lime-400 shadow rounded-2 h-100 p-4 my-card" style="background-color: #f8f9fa;">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h2 class="text-muted">FC VENTAS</h2>
              <h6 class="mb-0">{{ stats.total_invoices }} Facturas por Cobrar</h6>
              <p class="text-secondary mt-2">
                {{ stats.total_invoices_stems }} Tallos Por Cobrar
                <strong>${{ stats.general_stats.sales_invoices_stats.total_dollars }}</strong>
              </p>
            </div>
            <div class="icon bg-success text-white rounded-circle p-3 d-flex justify-content-center align-items-center">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="50"  height="50"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file-dollar"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M12 17v1m0 -8v1" /></svg>
            </div>
          </div>
          <a href="{% url 'customer_invoice_list' %}" class="stretched-link"></a>
        </div>
      </div>
  
      <!-- Admin Card -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-cyan-400 shadow rounded-2 h-100 p-4 my-card" style="background-color: #f8f9fa;">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h2 class="text-muted">FC COMPRAS</h2>
              <h6 class="mb-0">{{ stats.total_purchase_invoices }} Facturas por Pagar</h6>
              <p class="text-secondary mt-2">
                {{ stats.total_purchase_invoices_stems }} Tallos Por Pagar
                <strong>${{ stats.general_stats.purchase_invoices_stats.total_dollars }}</strong>
              </p>
            </div>
            <div class="icon bg-info text-white rounded-circle p-3 d-flex justify-content-center align-items-center">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="50"  height="50"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file-dollar"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M12 17v1m0 -8v1" /></svg>
            </div>
          </div>
          <a href="{% url 'supplier_invoice_list' %}" class="stretched-link"></a>
        </div>
      </div>
  
      <!-- Transport Card -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-gray-400 shadow rounded-2 h-100 p-4 my-card" style="background-color: #f8f9fa;">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h2 class="text-muted">PAGOS Y COBROS</h2>
              <h6 class="mb-0">0 Pagos Vencidos</h6>
              <p class="text-secondary mt-2">
                Por Pagar: <strong class="text-danger">$ 1,200</strong> | Por Cobrar: <strong class="text-success">$ 1,200</strong>
              </p>
            </div>
            <div class="icon bg-secondary text-white rounded-circle p-3 d-flex justify-content-center align-items-center">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="50"  height="50"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-home-dollar"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 10l-7 -7l-9 9h2v7a2 2 0 0 0 2 2h6" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2c.387 0 .748 .11 1.054 .3" /><path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M19 21v1m0 -8v1" /></svg>
            </div>
          </div>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}